name: Build
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t shinycannon-build .
      - name: Run Docker
        run: docker run -v $PWD:/workdir shinycannon-build make packages
      - name: Show created artifacts
        run: ls out
  release:
    needs: build
    if: startsWith(github.ref, 'v')
    name: Release
    runs-on: ubuntu-18.04
    steps:
      - name: Create Release
        run: |
          set -x
          assets=()
          for asset in ./out/*; do
            assets+=("-a" "$asset")
          done
          tag_name="${GITHUB_REF##*/}"
          hub release create "${assets[@]}" -m "$tag_name" "$tag_name"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
